
.btn-brown {
    background-color: #6f4e37;
}

.titulo-cafe {
    color: #3d2b1f;
    font-weight: bold;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

body {
    padding-top: 20px;
    background: #b3a078;
}

footer {
    background-color: #6f4e37;
}

.bgP {
    background-color: #6f4e37;
}